.vboxcagnotte{ 
    -fx-background-color : #dddddd; 
    -fx-border-color : #D98532;
    -fx-border-width: 1px;
    -fx-border-radius: 5px;  
}

.vboxcagnotte:hover{
    -fx-background-color : #dddddd; 
    -fx-border-color : #D98532;
    -fx-border-width: 2px;
    -fx-border-radius: 5px;
}

.vboxcagnotte .button{
    -fx-background-color : #ffffff;
    -fx-border-color : #45969b;
    -fx-font-size: 15px;
}

.vboxcagnotte .button:hover{
    -fx-background-color : #45969b;
    -fx-font-size: 15px;
}

.titrecagnotte{
    -fx-color: #dddddd;
    -fx-font-weight: bold;
    -fx-font-size: 20px;
    -fx-padding: 25px 50px 10px 40px;
}